.singInForm{
  display: flex;
  flex-direction: column;
  margin: 100px auto 150px auto;
  max-width: 555px;
  width: 100%;
  color:white;
}
.signInTitle{
  margin-top: 0;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
}
.fieldContainer{
  display: flex;
  justify-content: space-between;
  margin: -5px 0 25px 0;
  font-weight: normal;
  font-size: 13px;
  color:white;
}
.forgotPass{
  text-decoration: none;
  color:white;
}
.googleSignIn{
  text-align: center;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #dd4b39;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 33px;
  cursor: pointer;
}
.buttonLogin{
  height: 64px;
  width: 100%;
  margin-bottom: 20px;
  border:0;
  border-radius: 4px;
  background-color: #28d2d0;
  color:#fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}